

body{
    margin:0;
    font-family: 'Cabin', sans-serif;
    
}
a{
    text-decoration: none;
}
.butt-container{
    background-color: #606060;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 137px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-size: 18px;
    margin-top: 56px;
    box-shadow: 4px 7px 2px 1px rgb(0 0 0 / 24%);
    border-radius: 10px;
    cursor: pointer;
}
.butt-container:hover{
    background-color: #000;
    transform: scale(1.1);
}
.butt-container a{
    text-decoration: none;
    color: #fff;
}
.container{
    width: 1440px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Cabin', sans-serif;
    background-color: #efefef;
}
.container-image{
    background-image: url(../images/4K-Black-Background-Design-HD-Wallpapers-40664.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 390px;
    align-items: center;
    background-color: #606060;
    background-attachment: fixed;
}


.container-image img{
    width: 223px;
    height: auto;
    border-radius: 111px;
    filter: saturate(0.5);
}
.container-title h1{
    height: 60px;
    background-color: #606060;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cabin', sans-serif;
    letter-spacing: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}
.box-title1 h2{
    background-color: #606060;
    height: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 110px;
    padding-left: 10px;
    letter-spacing: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border-radius: 9px;
    box-shadow: 4px 7px 2px 1px rgb(0 0 0 / 24%);
}
.box-title4 h2{
    background-color: #606060;
    height: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 110px;
    padding-left: 10px;
    letter-spacing: 3px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border-radius: 9px;
    box-shadow: 4px 7px 2px 1px rgb(0 0 0 / 24%);
}
.container-section1{
    margin-left: 225px;
    margin-right: 225px;
   font-family: 'Cabin', sans-serif;
    font-size: 15px;

    
}
.list1{
    line-height: 20px;
}
.list11{
    line-height: 28px;
}
.list1 li span{
font-weight: bold;
font-style: italic;
}
.box-title2 h2{
    background-color: #606060;
    height: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 36px;
    padding-left: 10px;
    letter-spacing: 7px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border-radius: 9px;
    box-shadow: 4px 7px 2px 1px rgb(0 0 0 / 24%);
}
.list1 li .subtext{
    margin-left: 30px;
}
.footer-sct{
    display: flex;
    background-color: #606060;
    height: 37px;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 120px;
}
.footer-sct img{
    margin: 0 7px;
    
}
.footer-sct a{
   cursor: pointer;
   display: flex;
    align-items: center;
    
}
.footer-sct a:hover{
    transform: scale(1.2);
    
}
.cards-container{
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-top: 60px;
}
.card{
    width: 100%;
    height: auto;
}
.card img{
    width: 300px;
    height: auto;
    filter: grayscale(1);
    border-radius: 9px;
    box-shadow: 4px 7px 2px 1px rgb(0 0 0 / 24%);
}
.card img:hover{
    transform: scale(1.1);
}

